## Copy values into your local.properties (do not commit local.properties)
# sdk.dir=C\:\\Users\\YOUR_USER\\AppData\\Local\\Android\\Sdk

NAVER_OAUTH_CLIENT_ID=YOUR_CLIENT_ID
NAVER_OAUTH_CLIENT_SECRET=YOUR_CLIENT_SECRET
NAVER_OAUTH_CLIENT_NAME=YOUR_APP_NAME
NAVER_MAP_CLIENT_ID=YOUR_MAP_CLIENT_ID
OPEN_WEATHER_API_KEY=YOUR_OPEN_WEATHER_API_KEY
NAVER_SEARCH_API_KEY_ID=YOUR_NAVER_SEARCH_API_KEY_ID
NAVER_SEARCH_API_KEY=YOUR_NAVER_SEARCH_API_KEY
MUSIC_SERVER_BASE_URL=http://10.0.2.2:5000/

